html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

img {
  width: 100px;
  display: block;
}

.btn {
  font-size: .875rem;
  background-color: #333;
  color: #f2f2f2;

  padding: .75rem;

  border-radius: 10px;
}

.btn-small {
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: black;
}

.quest {
  background-color: #e2e2e2;
  padding: 1.5rem;
  padding-left: .75rem;
  padding-right: .75rem;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
}

.quest img {
  display: block;
  margin: 0 auto 1.5rem;
}

.knights {
  background-color: #ccc;
  padding: 1.5rem;
  padding-left: .75rem;
  padding-right: .75rem;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
}

.knights img {
  display: block;
  margin: 0 auto 1.5rem;
}

.dragon {
  background-color: #aaa;
  padding: 1.5rem;
  padding-left: .75rem;
  padding-right: .75rem;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
}

.dragon img {
  display: block;
  margin: 0 auto 1.5rem;
}

.ships {
  background-color: #999;
  padding: 1.5rem;
  padding-left: .75rem;
  padding-right: .75rem;

  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-top: 0;
  border-bottom: 0;
}

.ships img {
  display: block;
  margin: 0 auto 1.5rem;
}

h3, cite, p {
  font-size: .875rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  padding-bottom: .75rem;
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}

li {
  float: left;
  width: 25%;
  padding-left: .75rem;
  padding-right: .75rem;
  list-style-type: none;
}

section {
  margin: 1.5rem;
}

h2, h3 {
  font-weight: bold;
}
